.code{
    height: 280px;
    width: 200px;
    border: 40px;
    margin: 15px 0 0 40px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    transition-delay: 0.1s;
}
img{
    width: 100%;
    height: 200px;
}
.man{
    height: 80px;
    width: 150px;
    margin: 10px 0 0 30px;
    text-decoration: underline black;
}
.code:hover{
    box-shadow: 2px 2px 15px yellow;
}