h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}
div{
    height: 200px;
    border: 2px solid black;
    width: 200px;
    margin: 10px;
    background-color: greenyellow;
    display: inline-block;
}
#hide{
    display: none;
}
