div{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: greenyellow;
    transition: margin-top 2s ease-in-out .2s;      /* Property name\\transition\\timing effect\\delay */

}
div:hover{
    margin-top: 400px;
    background-color: pink;
}