*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
     /*viewport is used to acquire entire screen*/
    background-size:cover ;

}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    position: fixed;
    left:-0px;
    height: 100vh;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 60px;
    color: white;
    text-decoration: none;
}
.sidebar_menu .btn_two{
    color: antiquewhite;
    font-size: 18px;
    position: absolute;
    left: 180px;
    opacity: 0;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
}
.sidebar_menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    bottom: 40px;
    opacity: 0.5;
    position: absolute;
    left: 20%;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);

}

