.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
img{
    width: 100%;
    height: 220px;
    border-radius: 25px 25px 0 0;

}
span{
    color:rgb(170, 122, 59);
}
h2{
    color: orange;
}
h4{
    text-align: right;
    color: #3c787e;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}