/* Q NO.1 */
div{
    height: 150px;
    border: 5px dotted black;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding:1em;
}
.ed{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline;
}