.face{
    height: 400px;
    width: 400px;
    background-color: orange;
    border-radius: 50%;
}
.mouth{
    width: 160px;
    height: 80px;
    background-color:red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 120px;
}
.left-eye,.right-eye{
    width:50px;
    height: 50px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 110px;
}
.right-eye{
    left:230px;
    height: 4px;
    top:110px;
}